.not-displayed {
    display: none;
}

form {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

#usuario, #senha {
    font-size: 25px;
}

#get-weather-btn {
    font-size: 22px;
}

#title {
    font-size: 16px;
}

#summary {
    font-size: 35px;
}

#summary img {
    float: right;
}

#error-msg {
    text-align: center;
    margin-top:  50%;
    font-weight: bold;    
}

#deslogar{
    display: none;
}

.user {
    padding: 50px 20px;
    background: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 330px;
    display: block;
    margin: 0 auto;
}
 
#user-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px auto;
}
 
h1 {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: lighter;
}
 
#user-name {
    color: #0066AA;
    font-weight: bold;
}
 
#user-email {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #0066AA;
}